<%- include("Partials/header"); -%>
<div class="text-right">
  
</div>  

  <h1 style="text-align: center;"><%=title%></h1>
  <p  style="text-align: center;"><%=content%></p>

  <script>

  </script>

<%- include("Partials/footer"); -%>
