.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}


  .navbar-nav a.dropdown-item {
    padding: 5px 10px;
  }

  .dropdown-menu {
    white-space: nowrap;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

/* .footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
} */

.footer p {
	margin-top: 3px;
	/* font-size: 12px; */
  color: #fff;
}

.footer {
    position: fixed;
    text-align: center;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #1abc9c;
    /* color: white; */
    

    /* position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c; */
 }


 .post_form{ 
     padding-top: 10px;
     display: inline-block; 
    }

/* .dropdown:hover .dropdown-menu {
    color: #000;

 } */

 .center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

